@page
@model _1.PAMA.Razor.Views.Pages.Employee.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.Name" class="control-label"></label>
                <input asp-for="Employee.Name" class="form-control" />
                <span asp-validation-for="Employee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Nik" class="control-label"></label>
                <input asp-for="Employee.Nik" class="form-control" />
                <span asp-validation-for="Employee.Nik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.NikDisplay" class="control-label"></label>
                <input asp-for="Employee.NikDisplay" class="form-control" />
                <span asp-validation-for="Employee.NikDisplay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Email" class="control-label"></label>
                <input asp-for="Employee.Email" class="form-control" />
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Address" class="control-label"></label>
                <input asp-for="Employee.Address" class="form-control" />
                <span asp-validation-for="Employee.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.BirthDate" class="control-label"></label>
                <input asp-for="Employee.BirthDate" class="form-control" />
                <span asp-validation-for="Employee.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.CardNumber" class="control-label"></label>
                <input asp-for="Employee.CardNumber" class="form-control" />
                <span asp-validation-for="Employee.CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Gender" class="control-label"></label>
                <select asp-for="Employee.Gender" class="form-control" asp-items="@Model.Genders"></select>
                <span asp-validation-for="Employee.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.CompanyId" class="control-label"></label>
                <select id="companyDropdown" asp-for="Employee.CompanyId" class="form-control" asp-items="@Model.Companies"></select>
                <span asp-validation-for="Employee.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.DepartmentId" class="control-label"></label>
                <select id="departmentDropdown" asp-for="Employee.DepartmentId" class="form-control" asp-items="@Model.Departements"></select>
                <span asp-validation-for="Employee.DepartmentId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Employee.DivisionId" class="control-label"></label>
                <select asp-for="Employee.DivisionId" class="form-control" asp-items="@Model.Divisi"></select>
                <span asp-validation-for="Employee.DivisionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.GbId" class="control-label"></label>
                <input asp-for="Employee.GbId" class="form-control" />
                <span asp-validation-for="Employee.GbId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.FrId" class="control-label"></label>
                <input asp-for="Employee.FrId" class="form-control" />
                <span asp-validation-for="Employee.FrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.IsVip" class="control-label"></label>
                <input type="checkbox" asp-for="Employee.IsVip" class="form-control" />
                <span asp-validation-for="Employee.IsVip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.VipApproveBypass" class="control-label"></label>
                <input type="checkbox" asp-for="Employee.VipApproveBypass" class="form-control" />
                <span asp-validation-for="Employee.VipApproveBypass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.VipLimitCapBypass" class="control-label"></label>
                <input type="checkbox" asp-for="Employee.VipLimitCapBypass" class="form-control" />
                <span asp-validation-for="Employee.VipLimitCapBypass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.VipLockRoom" class="control-label"></label>
                <input type="checkbox" asp-for="Employee.VipLockRoom" class="form-control" />
                <span asp-validation-for="Employee.VipLockRoom" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
   
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#companyDropdown').change(function () {
                var companyId = $(this).val();
                if (companyId) {
                    $.getJSON('@Url.Page("Create", new { handler = "Departments" })', { companyId: companyId }, function (data) {
                        var departmentDropdown = $('#departmentDropdown');
                        departmentDropdown.empty();
                        departmentDropdown.append('<option value="">-- Select Department --</option>');
                        $.each(data, function (i, department) {
                            departmentDropdown.append('<option value="' + department.id + '">' + department.departmentName + '</option>');
                        });
                    });
                } else {
                    $('#departmentDropdown').empty().append('<option value="">-- Select Department --</option>');
                }
            });
        });
    </script>
}