@page
@model _1.PAMA.Razor.Views.Pages.Employee.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="Create">Create New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Name)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Employee[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].CardNumberReal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].DivisionId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employee)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardNumberReal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DivisionId)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Detail" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
