@page "/room"
@model _1.PAMA.Razor.Views.Pages.Room.IndexModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    Layout = "_LayoutAdmin";
    ViewData["PageName"] = "Room";
}

@section Styles {
    <link href="~/assets/theme/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/assets/theme/plugins/jquery-datatable/select.dataTables.min.css" rel="stylesheet">
    <link href="~/assets/theme/plugins/jquery-datatable/fixedColumns.dataTables.min.css" rel="stylesheet">
    <link href="~/assets/theme/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <link href="~/assets/external/filepond/filepond.min.css" rel="stylesheet">
    <link href="~/assets/external/dropify/css/dropify.min.css" rel="stylesheet">
    <style>
        .modal-dialog {
            position: absolute;
            top: 50% !important;
            transform: translate(0, -50%) !important;
            -ms-transform: translate(0, -50%) !important;
            -webkit-transform: translate(0, -50%) !important;
            margin: auto 5%;
            width: 90%;
            height: 80%;
        }

        .modal-content {
            min-height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .modal-body {
            position: absolute;
            top: 45px; /** height of header **/
            bottom: 45px; /** height of footer **/
            left: 0;
            right: 0;
            overflow-y: auto;
        }

        .modal-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>
}

<section class="content">
    <div class="container-fluid">
        <div class="fab-right">
        </div>
        <div class="block-header">
            <h2>
                @if (!string.IsNullOrEmpty(Model.RoomDetails.Pagename))
                {
                    @Model.RoomDetails.Pagename
                }
            </h2>
        </div>
        <!-- DIV  -->
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box hover-expand-effect">
                    <div class="icon  bg-orange ">
                        <i class="material-icons">event</i>
                    </div>
                    <div class="content">
                        <div class="text">
                            @{
                                var currentDate = DateTime.Now.ToString("dd MMM yyyy").ToUpper();
                            }
                            <span>@currentDate</span>
                        </div>
                        <div class="number count-to" id="time1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box  hover-expand-effect">
                    <div class="icon bg-light-green">
                        <i class="material-icons">toc</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL ROOM</div>
                        <div class="number count-to" data-from="0" data-to="0" data-speed="1000" data-fresh-interval="20" id="id_count_total">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-6">
                                <h2>Room Management</h2>
                            </div>
                            <div class="col-xs-12 col-sm-6 align-right">
                                <button onclick="createData($(this))" type="button" class="btn btn-primary waves-effect"><i class="material-icons">add</i></button>
                            </div>
                        </div>
                    </div>
                    <div class="body ">
                        <div class="row clearfix">
                            <div class="col-xs-4">
                                <div class="form-line">
                                    <input id="id_search" type="input" class="form-control" placeholder="Search room name" />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <button onclick="removeAll()" type="button" class="btn btn-sm btn-danger waves-effect"><i class="material-icons">delete</i> </button>
                                &nbsp;
                                <!-- <button onclick="" type="button" class="btn btn-lg btn-info waves-effect"><b>Update</b> </button> -->
                            </div>
                        </div><div class="table-responsive responsive">
                            <table class="table table-hover" id="tbldata" style="width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="ck_all" class="filled-in chk-col-red selectAll" />
                                            <label for="ck_all"></label>
                                        </th>
                                        <th></th>
                                        <th>Thumbnail</th>
                                        <th>Name</th>
                                        <th>Building</th>
                                        <th>Capacity</th>
                                        <th>Working Time</th>
                                        @* Uncomment if needed *@
                                        @* <th>Work Day</th> *@

                                        @* @if (Model.RoomDetails.Modules.Price.IsEnabled == 1)
                                        {
                                            <th>Price</th>
                                        } *@

                                        @* @if (Model.RoomDetails.Modules.Int365.IsEnabled == 1 || Model.RoomDetails.Modules.IntGoogle.IsEnabled == 1)
                                        {
                                            <th>Integration</th>
                                        } *@

                                        <th>Status</th>
                                        <th style="width:320px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="id_mdl_create" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="idmdlcrLabel">Create Room </h4>
            </div>
            <div class="modal-body " id="id_mdl_create_body">
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="#room-general-create" data-toggle="tab" onclick="actionBtnEdit('id_btn_crt_submit')">General</a></li>

                    @if (Model.RoomDetails.Modules.RoomAdv.IsEnabled == 1)

                    {
                        <li role="presentation"><a href="#room-advanced-create" data-toggle="tab">Advanced Setting</a></li>
                    }
                </ul>
                <br>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="room-general-create">
                        <form id="frm_create">
                            <div class="row clearfix">
                                <div class="col-xs-7">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="">Name <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" autocomplete="off" name="name" id="id_crt_name" required="" class="form-control" placeholder="Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">Description<b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea rows="1" name="description" class="form-control no-resize" required="" id="id_crt_description" placeholder="Please type the room description..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="">Building <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <select title="Choose the building..." control name="building_id" id="id_crt_building_id" class="form-control show-tick"></select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">Floor <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <select title="Choose the floor..." required name="floor_id" id="id_crt_floor_id" class="form-control show-tick"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="">Type Room</label>
                                            <div class="form-group">
                                                <select title="Choose the type..." onchange="initTypeRoom('','id_crt_type_room','id_crt_merge_room','')" name="type_room" id="id_crt_type_room" class="form-control show-tick">
                                                    <option value="single">Single Room</option>
                                                    <option value="merge">Merge Room</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6" id="id_kind_room_add">
                                            <label for="">Kind Room</label>
                                            <div class="form-group">
                                                <select title="Choose the kind room..." name="kind_room" id="id_crt_kind_room" class="form-control show-tick" data-actions-box="true">
                                                    <option value="room" selected>Room</option>
                                                    <option value="trainingroom">Training Room</option>
                                                    <option value="noroom">No Room</option>
                                                    <option value="specialroom">Special Room</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6" id="id_area_add_merge">
                                            <label for="">Merger Room</label>
                                            <div class="form-group">
                                                <select title="Choose the any room..." name="merge_room[]" id="id_crt_merge_room" class="form-control show-tick" multiple data-actions-box="true">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <label for="">Capacity <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="number" name="capacity" id="id_crt_capacity" required="" class="form-control" placeholder="Capacity">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4" id="id_area_add_merge">
                                            <label for="">Working Day</label>
                                            <div class="form-group">
                                                <select title="Choose the day..." multiple name="work_day[]" data-dropup-auto="false" data-selected-text-format="count > 2" data-actions-box="true" id="id_crt_workday" data-size="7" class="form-control show-tick">
                                                    <option value="SUNDAY">SUNDAY</option>
                                                    <option value="MONDAY">MONDAY</option>
                                                    <option value="TUESDAY">TUESDAY</option>
                                                    <option value="WEDNESDAY">WEDNESDAY</option>
                                                    <option value="THURSDAY">THURSDAY</option>
                                                    <option value="FRIDAY">FRIDAY</option>
                                                    <option value="SATURDAY">SATURDAY</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">Working Time <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                                                        <div class="form-line">
                                                            <input type="text" name="work_start" id="id_crt_work_start" class="timepicker form-control" required="" placeholder="Please choose a start time...">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                                                        <div class="form-line">
                                                            <input type="text" name="work_end" id="id_crt_work_end" class="timepicker form-control" required="" placeholder="Please choose a finish time...">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="">Facility</label>
                                            <div class="form-group">
                                                <select title="Choose the facility..." data-size="5" data-live-search="true" multiple name="facility_room[]" id="id_crt_facility_room" class="form-control show-tick" data-actions-box="true"></select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">Status</label>
                                            <div class="form-group">
                                                <select title="Choose the status..." name="is_disabled" id="id_crt_is_disabled" class="form-control show-tick">
                                                    <option value="0">Enabled</option>
                                                    <option value="1">Disabled/Maintenance</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="">Detail Location</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea rows="4" name="location" class="form-control no-resize" id="id_crt_location" placeholder="Please type the room location..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">Link Map</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" autocomplete="off" name="google_map" id="id_crt_google_map" class="form-control" placeholder="Google Map">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <label for="">Thumbnail <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <input type="file" name="image" id="input-file-to-destroy" class="dropify" data-height="120" data-max-file-size="4M" accept="image/*" />
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="">Image 1 </label>
                                            <div class="form-group">
                                                <input type="file" name="image2[]" class="dropify" data-height="120" data-max-file-size="4M" accept="image/*" />
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="">Image 2 </label>
                                            <div class="form-group">
                                                <input type="file" name="image2[]" class="dropify" data-height="120" data-max-file-size="4M" accept="image/*" />
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="">Image 3 </label>
                                            <div class="form-group">
                                                <input type="file" name="image2[]" class="dropify" data-height="120" data-max-file-size="4M" accept="image/*" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button type="submit" style="display: none;" id="id_btn_crt_submit" class="btn btn-primary m-t-15 waves-effect">Save</button>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="room-advanced-create">
                        <form id="frm_adv_crt">
                            <div class="row clearfix">
                                <div class="col-xs-6">
                                    <div class="row clearfix">
                                        <div class="col-xs-6">
                                            <div class="row">
                                                <div class="col-xs-8 align-left">
                                                    <label for="id_crt_adv_is_config_setting_enable">
                                                        Enable Advanced Setting <a data-toggle="tooltip" data-placement="bottom" title=" This feature will activate several more features in a room
                                    "> (?) </a>
                                                    </label>
                                                </div>
                                                <div class="col-xs-4 align-right">
                                                    <div class="switch">
                                                        <label><input id="id_crt_adv_is_config_setting_enable" name="is_config_setting_enable" type="checkbox"><span class="lever switch-col-red"></span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 hidden">
                                            <label for="">
                                                Room For Usage <a data-toggle="tooltip" data-placement="bottom" title="
                                    "> (?) </a>
                                            </label>
                                            <div class="form-group">
                                                <select data-size="5" onchange="ocCrtRoomForUsage()" title="Choose the usage..." data-selected-text-format="count > 3" data-actions-box="true" disabled name="config_room_for_usage[]" id="id_crt_adv_room_for_usage" class="form-control show-tick" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-xs-6">
                                            <label for="">
                                                Minimum duration of a meeting <a data-toggle="tooltip" data-placement="bottom" title=" This room can be limited to a minimum booking time
                                    "> (?) </a>
                                            </label>
                                            <div class="form-group">
                                                <select title="Choose the time..." disabled data-size="4" name="config_min_duration" id="id_crt_adv_config_min_duration" class="form-control show-tick">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">
                                                Maximum duration of a meeting <a data-toggle="tooltip" data-placement="bottom" title="This room can be limited to a maximum booking time
                                    "> (?) </a>
                                            </label>
                                            <div class="form-group">
                                                <select title="Choose the time..." disabled data-size="4" name="config_max_duration" id="id_crt_adv_config_max_duration" class="form-control show-tick">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="row clearfix">
                                        <div class="col-xs-6">
                                            <label for="">
                                                Advance Booking Date <a data-toggle="tooltip" data-placement="bottom" title="This feature can open the date selection to several days in the future
                                    "> (?) </a>
                                            </label>
                                            <div class="form-group">
                                                <select data-size="4" title="Choose the days..." disabled name="config_advance_booking" id="id_crt_adv_config_advance_booking" class="form-control show-tick">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="row allow-recurring">
                                                <div class="col-xs-8 align-left"><label for="id_crt_adv_is_enable_recurring">Allow Recurring</label></div>
                                                <div class="col-xs-4 align-right">
                                                    <div class="switch">
                                                        <label><input disabled id="id_crt_adv_is_enable_recurring" name="is_enable_recurring" type="checkbox"><span class="lever switch-col-red"></span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-8 align-left">
                                                    <label for="id_crt_adv_is_enable_approval">
                                                        Needs Room Approval <a data-toggle="tooltip" data-placement="bottom" title=" If this feature is activated then the room will need approval to book the room
                                    "> (?) </a>
                                                    </label>
                                                </div>
                                                <div class="col-xs-4 align-right">
                                                    <div class="switch">
                                                        <label><input id="id_crt_adv_is_enable_approval" name="is_enable_approval" type="checkbox" disabled><span class="lever switch-col-red"></span></label>
                                                    </div>
                                                </div>
                                                <br>
                                                <select title="Choose the approval user..." data-selected-text-format="count > 3" data-actions-box="true" data-live-search="true" data-size="4" disabled name="config_approval_user[]" id="id_crt_adv_config_approval_user" class="form-control show-tick" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row clearfix">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-8 align-left">
                                                    <label for="id_crt_adv_is_enable_permission">
                                                        Private Meeting Room <a data-toggle="tooltip" data-placement="bottom" title=" If this feature is activated, the room will become private and only a few people will be given the right to book the room
                                    "> (?) </a>
                                                    </label>
                                                </div>
                                                <div class="col-xs-4 align-right">
                                                    <div class="switch">
                                                        <label><input id="id_crt_adv_is_enable_permission" name="is_enable_permission" type="checkbox" disabled><span class="lever switch-col-red"></span></label>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <select title="Choose the permission user..." data-selected-text-format="count > 3" data-size="4" data-actions-box="true" data-live-search="true" disabled name="config_permission_user[]" id="id_crt_adv_config_permission_user" class="form-control show-tick" multiple>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                            </div>
                            <div class="row">
                            </div>
                            <!-- <button type="submit" style="display: none;" id="id_btn_edt_adv_submit" class="btn btn-primary m-t-15 waves-effect">Update</button> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-xs-6 align-left">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                    <div class="col-xs-6">
                        <button onclick="clickSubmit('id_btn_crt_submit')" type="button" class="btn btn-primary waves-effect ">SAVE</button>
                    </div>
                </div>
                <!-- <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="id_mdl_update" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="idmdlcrLabel">Update Room</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="#room-general-edit" data-toggle="tab" onclick="actionBtnEdit('id_btn_edt_submit')">General</a></li>
                    
                            @if (Model.RoomDetails.Modules.RoomAdv.IsEnabled == 1)
                            {
                                <li role="presentation"><a href="#room-advanced-edit" data-toggle="tab">Advanced Setting</a></li>
                                <li role="presentation" id="id_panel_checkin_edt" style="display:none;"><a href="#room-checkin-edit" data-toggle="tab">Check In Setting</a></li>
                            }
                </ul>
                <br>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="room-general-edit">
                        <form id="frm_update">
                            <div class="row clearfix">
                                <div class="col-xs-7">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="">Name <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" autocomplete="off" name="name" id="id_edt_name" required="" class="form-control" placeholder="Name">
                                                    <input type="hidden" autocomplete="off" name="id" id="id_edt_id" readonly="" required="">
                                                    <input type="hidden" autocomplete="off" name="radid" id="id_edt_radid" readonly="" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">Description <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea rows="1" name="description" class="form-control no-resize" required="" id="id_edt_description" placeholder="Please type the room description..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="">Building <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <select title="Choose the building..." control name="building_id" id="id_edt_building_id" class="form-control show-tick"></select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">Floor <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <select title="Choose the floor..." required name="floor_id" id="id_edt_floor_id" class="form-control show-tick"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="">Type Room</label>
                                            <div class="form-group">
                                                <select title="Choose the type..." onchange="initTypeRoom('edit','id_edt_type_room','id_edt_merge_room','')" name="type_room" id="id_edt_type_room" class="form-control show-tick">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6" id="id_area_edt_merge">
                                            <label for="">Merger Room</label>
                                            <div class="form-group">
                                                <select title="Choose the any room..." name="merge_room[]" id="id_edt_merge_room" class="form-control show-tick" multiple data-actions-box="true">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">Kind Room</label>
                                            <div class="form-group">
                                                <select title="Choose the kind room..." name="kind_room" id="id_edt_kind_room" class="form-control show-tick">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <label for="">Capacity <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input required="" type="number" name="capacity" id="id_edt_capacity" required="" class="form-control" placeholder="Capacity">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="">Working Day <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <select data-dropup-auto="false" title="Choose the day..." data-selected-text-format="count > 2" data-actions-box="true" required="" multiple name="work_day[]" id="id_edt_workday" class="form-control show-tick dropdown">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">Working Time <b style="color:red;">*</b></label>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                                                        <div class="form-line">
                                                            <input required="" type="text" name="work_start" id="id_edt_work_start" class="timepicker form-control" placeholder="Please choose a start time...">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-xs-6 col-lg-6 col-sm-6">
                                                        <div class="form-line">
                                                            <input required="" type="text" name="work_end" id="id_edt_work_end" class="timepicker form-control" placeholder="Please choose a finish time...">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="">Detail Location</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <textarea rows="1" name="location" class="form-control no-resize" id="id_edt_location" placeholder="Please type the location..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="">Facility</label>
                                            <div class="form-group">
                                                <select title="Choose the facility..." data-actions-box="true" data-selected-text-format="count > 3" multiple name="facility_room[]" id="id_edt_facility_room" class="form-control show-tick dropup"></select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">Status</label>
                                            <div class="form-group">
                                                <select title="Choose the status..." name="is_disabled" id="id_edt_is_disabled" class="form-control show-tick">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="">Link Map</label>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" autocomplete="off" name="google_map" id="id_edt_google_map" class="form-control" placeholder="Link Map">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="">Old Thumbnail </label>
                                            <a href="javascript:void(0);" class="thumbnail">
                                                <img id="id_edt_image_old" src="" style="height:100px" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">New Thumbnail </label>
                                            <div class="form-group">
                                                <input type="file" name="image" id="id_edt_image" class="dropify" data-height="100" data-max-file-size="2M" accept="image/*" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                                    <div class="col-xs-4">
                                                        <label for="">Old Image 1 </label>
                                                        <a href="javascript:void(0);" class="thumbnail">
                                                            <img id="id_edt_image2_1_old" src="" style="height:100px" class="img-responsive">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <label for="">Old Image 2 </label>
                                                        <a href="javascript:void(0);" class="thumbnail">
                                                            <img id="id_edt_image2_2_old" src="" style="height:100px" class="img-responsive">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <label for="">Old Image 3 </label>
                                                        <a href="javascript:void(0);" class="thumbnail">
                                                            <img id="id_edt_image2_3_old" src="" style="height:100px" class="img-responsive">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <label for="">New Image 1 </label>
                                                        <div class="form-group">
                                                            <input type="file" name="image2_1"  class="dropify" data-height="100" data-max-file-size="2M" accept="image/*"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <label for="">New Image 2 </label>
                                                        <div class="form-group">
                                                            <input type="file" name="image2_2"  class="dropify" data-height="100" data-max-file-size="2M" accept="image/*"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <label for="">New Image 3 </label>
                                                        <div class="form-group">
                                                            <input type="file" name="image2_3"  class="dropify" data-height="100" data-max-file-size="2M" accept="image/*"
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                </div>
                                <!-- Split -->
                            </div>
                            
                            <button type="button" style="display: none;" id="id_btn_edt_submit" class="btn btn-primary m-t-15 waves-effect" onclick="submitFrmUpdate()">Update</button>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="room-advanced-edit">
                        <form id="frm_adv_update">
                            <div class="row clearfix">
                                <div class="col-xs-6">
                                    <div class="row clearfix">
                                        <div class="col-xs-6">
                                            <div class="row">
                                                <div class="col-xs-8 align-left">
                                                    <label for="id_edt_adv_is_config_setting_enable">
                                                        Enable Advanced Setting <a data-toggle="tooltip" data-placement="bottom" title=" This feature will activate several more features in a room
                                                            "> (?) </a>
                                                    </label>
                                                </div>
                                                <div class="col-xs-4 align-right">
                                                    <div class="switch">
                                                        <label><input id="id_edt_adv_is_config_setting_enable" name="is_config_setting_enable" type="checkbox"><span class="lever switch-col-red"></span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 hidden">
                                            <label for="">
                                                Room For Usage <a data-toggle="tooltip" data-placement="bottom" title="
                                                            "> (?) </a>
                                            </label>
                                            <div class="form-group">
                                                <select data-size="5" onchange="ocEdtRoomForUsage()" title="Choose the usage..." data-selected-text-format="count > 3" data-actions-box="true" disabled name="config_room_for_usage[]" id="id_edt_adv_room_for_usage" class="form-control show-tick" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix hidden">
                                        <div class="col-xs-12">
                                            <label for="">
                                                List Room for Usage <a data-toggle="tooltip" data-placement="bottom" title=" This room can be limited to a minimum booking time
                                                            "> (?) </a>
                                        </div>
                                        <div class="col-xs-12" style="max-height: 200px; overflow-y: scroll;">
                                            <table class="table table-striped" id="id_edt_adv_tbl_room_for_usage">
                                                <thead>
                                                <th>No.</th>
                                                <th>Usage</th>
                                                <th>Minimum Capacity</th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-xs-6">
                                            <label for="">
                                                Minimum duration of a meeting <a data-toggle="tooltip" data-placement="bottom" title=" This room can be limited to a minimum booking time
                                                            "> (?) </a>
                                            </label>
                                            <div class="form-group">
                                                <select title="Choose the time..." disabled data-size="4" name="config_min_duration" id="id_edt_adv_config_min_duration" class="form-control show-tick">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="">
                                                Maximum duration of a meeting <a data-toggle="tooltip" data-placement="bottom" title="This room can be limited to a maximum booking time
                                                            "> (?) </a>
                                            </label>
                                            <div class="form-group">
                                                <select title="Choose the time..." disabled data-size="4" name="config_max_duration" id="id_edt_adv_config_max_duration" class="form-control show-tick">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="row clearfix">
                                        <div class="col-xs-6">
                                            <label for="">
                                                Advance Booking Date <a data-toggle="tooltip" data-placement="bottom" title="This feature can open the date selection to several days in the future
                                                            "> (?) </a>
                                            </label>
                                            <div class="form-group">
                                                <select data-size="4" title="Choose the days..." disabled name="config_advance_booking" id="id_edt_adv_config_advance_booking" class="form-control show-tick">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="row allow-recurring">
                                                <div class="col-xs-8 align-left"><label for="id_edt_adv_is_enable_recurring">Allow Recurring</label></div>
                                                <div class="col-xs-4 align-right">
                                                    <div class="switch">
                                                        <label><input disabled id="id_edt_adv_is_enable_recurring" name="is_enable_recurring" type="checkbox"><span class="lever switch-col-red"></span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-8 align-left">
                                                    <label for="id_edt_adv_is_enable_approval">
                                                        Needs Room Approval <a data-toggle="tooltip" data-placement="bottom" title=" If this feature is activated then the room will need approval to book the room
                                                            "> (?) </a>
                                                    </label>
                                                </div>
                                                <div class="col-xs-4 align-right">
                                                    <div class="switch">
                                                        <label><input id="id_edt_adv_is_enable_approval" name="is_enable_approval" type="checkbox"><span class="lever switch-col-red"></span></label>
                                                    </div>
                                                </div>
                                                <br>
                                                <select title="Choose the approval user..." data-selected-text-format="count > 3" data-actions-box="true" data-live-search="true" data-size="4" disabled name="config_approval_user[]" id="id_edt_adv_config_approval_user" class="form-control show-tick" multiple>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row clearfix">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-8 align-left">
                                                    <label for="id_edt_adv_is_enable_permission">
                                                        Private Meeting Room <a data-toggle="tooltip" data-placement="bottom" title=" If this feature is activated, the room will become private and only a few people will be given the right to book the room
                                                            "> (?) </a>
                                                    </label>
                                                </div>
                                                <div class="col-xs-4 align-right">
                                                    <div class="switch">
                                                        <label><input id="id_edt_adv_is_enable_permission" name="is_enable_permission" type="checkbox"><span class="lever switch-col-red"></span></label>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <select title="Choose the permission user..." data-selected-text-format="count > 3" data-size="4" data-actions-box="true" data-live-search="true" disabled name="config_permission_user[]" id="id_edt_adv_config_permission_user" class="form-control show-tick" multiple>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                            </div>
                            <div class="row">
                            </div>
                            <!-- <button type="submit" style="display: none;" id="id_btn_edt_adv_submit" class="btn btn-primary m-t-15 waves-effect">Update</button> -->
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="room-checkin-edit">
                        <form id="frm_adv_checkin_update">
                            <div class="row clearfix">
                                <div class="col-xs-6">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-8 align-left">
                                                    <label for="id_edt_adv_is_enable_checkin">
                                                        Needs Room Check IN <a data-toggle="tooltip" data-placement="bottom" title=" If this feature is activated, the room that has been booked will need to be checked in after the room is active
                                                            "> (?) </a>
                                                    </label>
                                                </div>
                                                <div class="col-xs-4 align-right">
                                                    <div class="switch">
                                                        <label><input id="id_edt_adv_is_enable_checkin" name="is_enable_checkin" type="checkbox"><span class="lever switch-col-red"></span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="">Permission to Check in</label>
                                            <div class="form-group">
                                                <select title="Choose the permission..." disabled name="config_permission_checkin" id="id_edt_adv_config_permission_checkin" class="form-control show-tick">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="">Permission to End Meeting</label>
                                            <div class="form-group">
                                                <select title="Choose the permission..." name="config_permission_end" id="id_edt_adv_config_permission_end" class="form-control show-tick">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-4 align-left">
                                                    <label for="id_edt_adv_is_realease_checkin_timeout">
                                                        Release a Meeting Room <a data-toggle="tooltip" data-placement="bottom" title=" If this feature is activated, rooms that have the check-in feature activated will be able to be released automatically if the room is not checked in within the specified time
                                                            "> (?) </a>
                                                    </label>
                                                </div>
                                                <div class="col-xs-2 align-right">
                                                    <div class="switch">
                                                        <label><input id="id_edt_adv_is_realease_checkin_timeout" name="is_realease_checkin_timeout" type="checkbox"><span class="lever switch-col-red"></span></label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 align-right">
                                                    <div class="form-group">
                                                        <select data-size="5" title="Choose the time..." disabled name="config_release_room_checkin_timeout" id="id_edt_adv_config_release_room_checkin_timeout" class="form-control show-tick">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-xs-6 align-left">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                    <div class="col-xs-6">
                        <button id="id_btn_mdl_submit" onclick="submitFrmUpdate()" type="button" class="btn btn-primary waves-effect ">SAVE</button>
                    </div>
                </div>
                <!-- <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="id_mdl_integration" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="id_mdl_integrationLabel"></h4>
            </div>
            <div class="modal-body ">
                <form id="frm_integration">
                    <label for="">Room Integration</label>
                    <div class="form-group">
                        <input type="hidden" name="id" id="id_int_id">
                        <input type="hidden" name="type" id="id_int_type">
                        <input type="hidden" name="roomid" id="id_int_room_meeting">
                        <select name="room_int_id" id="id_int_room" class="form-control show-tick"></select>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="">Remove Integration</label>
                        </div>
                        <div class="col-xs-6 align-right">
                            <button type="button" onclick="removeIntegrationRoom()" class="btn btn-danger waves-effect">Remove</button>
                        </div>
                    </div>
                    <br>
                    <button type="submit" style="display: none;" id="id_btn_int_submit" class="btn btn-primary m-t-15 waves-effect">Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-xs-6 align-left">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                    <div class="col-xs-6">
                        <button onclick="clickSubmit('id_btn_int_submit')" type="button" class="btn btn-primary waves-effect ">SAVE</button>
                    </div>
                </div>
                <!-- <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button> -->
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="id_default_timezone" value="Asia/Jakarta">
@{
    string baseUrl = Configuration["App:BaseUrl"]; // Access nested configuration keys using colon (:)
}
<input id="id_baseurl" style="display: none;" value="@baseUrl" />




<textarea id="id_room_for_usage" style="display: none;">
    @Html.Raw(Json.Serialize(Model.RoomDetails.RoomForUsage))
</textarea>

<textarea id="id_modules" style="display: none;"> 
    @Html.Raw(Json.Serialize(Model.RoomDetails.Modules))
 </textarea>

<textarea id="id_building" style="display: none;"> 
    @Html.Raw(Json.Serialize(Model.RoomDetails.Building))
 </textarea>

<textarea id="id_user_approval" style="display: none;"> 
    @Html.Raw(Json.Serialize(Model.RoomDetails.UserApproval))
 </textarea>

<textarea id="id_user_permission" style="display: none;"> 
    @Html.Raw(Json.Serialize(Model.RoomDetails.UserPermission))
 </textarea>

<textarea id="id_room_user_checkin" style="display: none;"> 
    @Html.Raw(Json.Serialize(Model.RoomDetails.RoomUserCheckin))
 </textarea>
 
<textarea id="id_floor" style="display: none;"> 
    @Html.Raw(Json.Serialize(Model.RoomDetails.Floor))
 </textarea>


@section Scripts {
    <!-- Datatables -->
    <script src="~/assets/theme/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/assets/theme/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/assets/theme/plugins/jquery-datatable/dataTables.select.min.js"></script>
    <script src="~/assets/theme/plugins/jquery-datatable/dataTables.fixedColumns.min.js"></script>
    <!-- end Datatables -->
    <script src="~/assets/theme/plugins/sweatalert2/sweetalert2.all.min.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/assets/theme/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/assets/theme/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="~/assets/external/numeral/numeral.min.js"></script>
    <script src="~/assets/external/numeral/locale.id.js"></script>
    <script src="~/assets/external/dropify/js/dropify.min.js"></script>
    <script src="~/assets/process/room/footer.js"></script>
    <script src="~/assets/process/room/index.js"></script>
    <script src="~/assets/process/room/form.js"></script>

}