@page "/display"
@model _1.PAMA.Razor.Views.Pages.Display.IndexModel
@{
    Layout = "_LayoutAdmin";
    ViewData["PageName"] = "Display Signage";
}

@section Styles
{
    <link href="~/assets/theme/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Colorpicker Css -->
    <link href="~/assets/theme/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <link href="~/assets/external/tippy-theme-light.min.css" rel="stylesheet" />

    <style>
        .demo-filepond-wrapper{
            height: 300px;
            padding-left: 20px;
            padding-top: 20px;
            padding-right: 20px;
            border: dashed 2px grey;
            background: white center no-repeat;
            background-size: cover;
            text-align: center;
            display: block;
            cursor: pointer;
        }
        .image-box {
            position: relative;
            height: 200px;
            width: 100%;
            position: relative;
            background-color: #eee;
            border: dotted 1px grey;
        }
        .img_overlay{
            opacity: 1;
            width: 100%;
            height: 100%;
            display: block;
        }
        .img_overlay:hover{
            opacity: 0.6;
            transition: 1s;
        }
        .image-box:hover .overlay{
            opacity: 1;
            /*width: 150px;*/
        }

        .iconroom{
            background: #0e0e0e;
            height: 42px;
            width: 42px;
            border: solid 1px grey;
            border-radius: 5px;
            padding: 3px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .iconroom:hover{
            background: #4754a2;

        }
        .nomarqin-left{
            margin-left:0px !important;
        }
        .boxleft {
            display : flex;
            align-items : center;
            background: #f9dcdc;
            justify-content: flex-end

        }
        .boxleft label {
            padding:5px;
            margin-bottom: 0px !important;
        }
        .boxleft-all {
            display : flex;
            background: #f9dcdc;

        }
        .boxleft-all label {
            padding:5px;
            margin-bottom: 0px !important;
        }
        .boxright {
            display : flex;
            align-items : center;
/*            border: 1px solid #000;*/
        }
        .boxright label{
            padding:5px;
            margin-bottom: 0px !important;
        }
        .openside{
            right: 0px !important;
        }
        .aClickDetail{
            cursor: pointer;
        }
        
    </style>
}

<section class="content">
    <div class="container-fluid">

        <div class="block-header">
            <h2>@ViewData["PageName"]</h2>
        </div>
        <!-- DIV  -->
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box hover-expand-effect">
                    <div class="icon  bg-orange ">
                        <i class="material-icons">event</i>
                    </div>
                    <div class="content">
                        <div class="text text-uppercase">@Model.CurrentDate</div>
                        <div class="number count-to" id="time1">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box  hover-expand-effect">
                    <div class="icon bg-light-green">
                        <i class="material-icons">toc</i>
                    </div>
                    <div class="content">
                        <div class="text">LICENSE</div>
                        <div class="number count-to" data-from="0" data-to="0" data-speed="1000" data-fresh-interval="20" id="">
                            <span id="id_count_total_license"></span> / 15
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box  hover-expand-effect">
                    <div class="icon bg-light-green">
                        <i class="material-icons">toc</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL DISPLAY</div>
                        <div class="number count-to" data-from="0" data-to="0" data-speed="1000" data-fresh-interval="20" id="id_count_total">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">

                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-6">
                                <h2>Display Signage List</h2>
                            </div>
                            <div class="col-xs-12 col-sm-6 align-right">
                
                            </div>
                        </div>
                    </div>
                    <div class="body table-responsive responsive">
                        <table class="table table-hover" id="tbldata">
                            <thead>
                                <th>#</th>
                                <th>Serial</th>
                                <th>Room</th>
                                <th>Background</th>
                                <th>Color Occupied</th>
                                <th>Color Standby</th>
                                <th>Sync</th>
                                <th>Status</th>
                                <th><button 
                                    onclick="createData($(this))" 
                                    type="button" class="btn btn-primary waves-effect ">
                                    <i class="material-icons">add_circle</i> CREATE</button></th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("Display/Components/_Modals")

@* <div class="modal fade" id="id_mdl_create" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="idmdlcrLabel">Create Display </h4>
            </div>
            <div class="modal-body " id="id_mdl_create_body">
                <form id="frm_create">
                    
                    <div class="row clearfix">
                        <div class="col-xs-6">
                            <div class="row clearfix">
                                <div class="col-xs-6">
                                        <label for="">Pair Code</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input autocomplete="off" id="id_crt_displayserial" type="text" name="display_serial"  class="form-control" value="" placeholder="Pair Code Display">
                                            </div>
                                        </div>
                                </div>
                                <div class="col-xs-6">
                                        <label for="">Name </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input autocomplete="off" id="id_crt_name" type="text" name="name"  class="form-control" value="" placeholder="Name">
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-12">
                                        <label for="">Description </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input autocomplete="off" id="id_crt_description" type="text" name="description"  class="form-control" value="" placeholder="Description">
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-12">
                                    <label for="">Display Type</label>
                                    <div class="form-group">
                                            <select 
                                            title="Choose the type..."
                                            onchange="ocDisplayType('crt')" required=""  name="type" id="id_crt_type" class="form-control show-tick"></select>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="row clearfix" id="id_crt_single_room_area" style="display:none">
                                <div class="col-xs-12">
                                    <label for="">Room</label>
                                    <div class="form-group">
                                        <select 
                                        required="" 
                                        data-live-search="true" name="room_id" id="id_crt_room" class="form-control show-tick"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix" id="id_crt_multiple_room_area" style="display:none">
                                <div class="col-xs-12">
                                    <label for="">Select Room</label>
                                    <div class="form-group">
                                        <select 
                                            multiple 
                                            title="Choose the room..."
                                            data-selected-text-format="count > 2"
                                            data-live-search="true" 
                                            name="room_select[]" id="id_crt_select_room" 
                                            class="form-control show-tick"
                                        ></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row clearfix">
                                <div class="col-xs-12">
                                    <label for="">Background</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input required="" type="file" accept="image/x-png,image/gif,image/jpeg" name="background" id="id_crt_background" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix hidden">
                                <div class="col-xs-12">
                                    <a href="javascript:void(0);" class="thumbnail">
                                    <img src="<?= base_url('assets/file/display/pair/pair.jpeg')?>" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-6">
                                    <label for="">Color Occupied</label>
                                    <div class="input-group colorpicker">
                                            <div class="form-line">
                                                <input id="id_crt_color_occupied" type="text" name="color_occupied"  class="form-control" value="#000000">
                                            </div>
                                            <span class="input-group-addon" >
                                                <i></i>
                                            </span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="">Color Available</label>
                                        <div class="input-group colorpicker">
                                                <div class="form-line">
                                                    <input id="id_crt_color_available" type="text" name="color_available"  class="form-control" value="#000000">
                                                </div>
                                                <span class="input-group-addon" >
                                                    <i></i>
                                                </span>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    
                    <!-- <label for="">Enable Signage</label>
                    <div class="form-group">
                        <select   name="enable_signage" id="id_crt_enable_signage" class="form-control show-tick"></select>
                    </div> -->
                    <br>
                    <button type="submit" id="id_btn_crt_submit" class="btn btn-primary m-t-15 waves-effect" style="display: none;" >Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-xs-6 align-left">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                    <div class="col-xs-6">
                        <button onclick="clickSubmit('id_btn_crt_submit')" type="button" class="btn btn-primary waves-effect " >SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="id_mdl_update" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="id_mdl_updateLabel">Update Display <b id="id_upd_name_text"></b> </h4>
            </div>
            <div class="modal-body " id="id_mdl_update_body">
                <form id="frm_update">
                    <div class="row clearfix">
                        <div class="col-xs-6">
                            <div class="row clearfix">
                                <div class="col-xs-6">
                                        <label for="">Pair Code</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input autocomplete="off"  id="id_upd_display_serial" type="text" name="display_serial"  class="form-control" value="" placeholder="Pair Code Display">
                                                <input type="hidden" name="id" id="id_upd_room_id">
                                            </div>
                                        </div>
                                </div>
                                <div class="col-xs-6">
                                        <label for="">Name </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input autocomplete="off" id="id_upd_name" type="text" name="name"  class="form-control" value="" placeholder="Name">
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-12">
                                        <label for="">Description </label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input autocomplete="off" id="id_upd_description" type="text" name="description"  class="form-control" value="" placeholder="Description">
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-12">
                                    <label for="">Display Type</label>
                                    <div class="form-group">
                                        <select 
                                            title="Choose the type..."
                                            onchange="ocDisplayType('crt')" required=""  name="type" id="id_upd_type" class="form-control show-tick">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix" id="id_upd_single_room_area" style="display:none">
                                <div class="col-xs-12">
                                    <label for="">Room</label>
                                    <div class="form-group">
                                        <select 
                                        required="" 
                                        data-live-search="true" name="room_id" id="id_upd_room" class="form-control show-tick"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix" id="id_upd_multiple_room_area" style="display:none">
                                <div class="col-xs-12">
                                    <label for="">Select Room</label>
                                    <div class="form-group">
                                        <select 
                                            multiple 
                                            title="Choose the room..."
                                            data-selected-text-format="count > 2"
                                            data-live-search="true" 
                                            name="room_select[]" id="id_upd_select_room" 
                                            class="form-control show-tick"
                                        ></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row clearfix">
                                <div class="col-xs-12">
                                    <label for="">Background</label>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="file" accept="image/x-png,image/gif,image/jpeg" name="background" id="id_upd_background" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-xs-12">
                                    <a href="javascript:void(0);" class="thumbnail">
                                        <img src="#" class="img-responsive" id="id_upd_background_image">
                                    </a>
                                </div>
                            </div>
                            
                            <!-- <div class="row clearfix">
                                <div class="col-xs-6">
                                    <label for="">Color Occupied</label>
                                    <div class="input-group colorpicker">
                                            <div class="form-line">
                                                <input id="id_upd_color_occupied" type="text" name="color_occupied"  class="form-control" value="#000000">
                                            </div>
                                            <span class="input-group-addon" >
                                                <i></i>
                                            </span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <label for="">Color Available</label>
                                        <div class="input-group colorpicker">
                                                <div class="form-line">
                                                    <input id="id_upd_color_available" type="text" name="color_available"  class="form-control" value="#000000">
                                                </div>
                                                <span class="input-group-addon" >
                                                    <i></i>
                                                </span>
                                        </div>
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <!-- <label for="">Enable Signage</label>
                    <div class="form-group">
                        <select   name="enable_signage" id="id_upd_enable_signage" class="form-control show-tick"></select>
                    </div> -->
                    <br>
                    <button type="submit" id="id_btn_upd_submit" class="btn btn-primary m-t-15 waves-effect" style="display: none;" >Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-xs-6 align-left">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                    <div class="col-xs-6">
                        <button onclick="clickSubmit('id_btn_upd_submit')" type="button" class="btn btn-primary waves-effect " >SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="id_mdl_sigange" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="id_mdl_sigangeLabel">Sigange Display </h4>
            </div>
            <div class="modal-body " id="id_mdl_sigange_body">

                <form id="frm_signage">
                    <label for="">Old Signage</label>
                    <div class="row clearfix">
                        <div class="col-xs-12">
                            <video width="320" id="id_si_old" height="240" controls>
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                        
                    <br>
                    <label for="">Insert Signage Video</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input required="" type="file" accept="video/mp4" name="signage" id="id_si_signage" >
                            <p class="small">Insert File Ext MP4. Max upload < 20MB </p>
                        </div>
                    </div>
                    <br>
                    <button type="submit" id="id_btn_si_submit" class="btn btn-primary m-t-15 waves-effect" style="display: none;" >Save</button>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row clearfix">
                    <div class="col-xs-6 align-left">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                    <div class="col-xs-6">
                        <button onclick="clickSubmit('id_btn_si_submit')" type="button" class="btn btn-primary waves-effect " >SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@

@await Html.PartialAsync("Display/Components/_Aside")

@section Scripts
{
    <script>
        const ajax = {
            url : {
                get_room_displays : "@Model.GetRoomDisplays",
                get_room_room_displays : "@Model.GetRoomRoomDisplays",
                post_create_room_display : "@Model.PostCreate",
                post_update_room_display : "@Model.PostUpdate",
                post_delete_room_display : "@Model.PostDelete",
                post_change_status_room_display : "@Model.PostChangeStatusDisplay",
                get_buildings : "@Model.GetBuildings",
                get_building_floors : "@Model.GetBuildingFloors",
            }
        }
    </script>
    <script src="~/assets/theme/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/assets/theme/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/assets/theme/plugins/sweatalert2/sweetalert2.all.min.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/assets/theme/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Colorpicker Js -->
    <script src="~/assets/theme/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/assets/theme/plugins/sweatalert2/sweetalert2.all.min.js"></script>
    <script src="~/assets/external/popper.min.js"></script>
    <script src="~/assets/external/tippy-bundle.umd.min.js"></script>
    <!-- Input Mask Plugin Js -->
    <script src="~/assets/process/display/index.js" asp-append-version="true"></script>
}
