@page "/display"
@model _1.PAMA.Razor.Views.Pages.Display.IndexModel
@{
    Layout = "_LayoutAdmin";
    ViewData["PageName"] = "Display Signage";
}

@section Styles
{
    <link href="~/assets/theme/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Colorpicker Css -->
    <link href="~/assets/theme/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <link href="~/assets/external/tippy-theme-light.min.css" rel="stylesheet" />

    <style>
        .demo-filepond-wrapper{
            height: 300px;
            padding-left: 20px;
            padding-top: 20px;
            padding-right: 20px;
            border: dashed 2px grey;
            background: white center no-repeat;
            background-size: cover;
            text-align: center;
            display: block;
            cursor: pointer;
        }
        .image-box {
            position: relative;
            height: 200px;
            width: 100%;
            position: relative;
            background-color: #eee;
            border: dotted 1px grey;
        }
        .img_overlay{
            opacity: 1;
            width: 100%;
            height: 100%;
            display: block;
        }
        .img_overlay:hover{
            opacity: 0.6;
            transition: 1s;
        }
        .image-box:hover .overlay{
            opacity: 1;
            /*width: 150px;*/
        }

        .iconroom{
            background: #0e0e0e;
            height: 42px;
            width: 42px;
            border: solid 1px grey;
            border-radius: 5px;
            padding: 3px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .iconroom:hover{
            background: #4754a2;

        }
        .nomarqin-left{
            margin-left:0px !important;
        }
        .boxleft {
            display : flex;
            align-items : center;
            background: #f9dcdc;
            justify-content: flex-end

        }
        .boxleft label {
            padding:5px;
            margin-bottom: 0px !important;
        }
        .boxleft-all {
            display : flex;
            background: #f9dcdc;

        }
        .boxleft-all label {
            padding:5px;
            margin-bottom: 0px !important;
        }
        .boxright {
            display : flex;
            align-items : center;
/*            border: 1px solid #000;*/
        }
        .boxright label{
            padding:5px;
            margin-bottom: 0px !important;
        }
        .openside{
            right: 0px !important;
        }
        .aClickDetail{
            cursor: pointer;
        }
        
    </style>
}

<section class="content">
    <div class="container-fluid">

        <div class="block-header">
            <h2>@ViewData["PageName"]</h2>
        </div>
        <!-- DIV  -->
        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box hover-expand-effect">
                    <div class="icon  bg-orange ">
                        <i class="material-icons">event</i>
                    </div>
                    <div class="content">
                        <div class="text text-uppercase">@Model.CurrentDate</div>
                        <div class="number count-to" id="time1">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box  hover-expand-effect">
                    <div class="icon bg-light-green">
                        <i class="material-icons">toc</i>
                    </div>
                    <div class="content">
                        <div class="text">LICENSE</div>
                        <div class="number count-to" data-from="0" data-to="0" data-speed="1000" data-fresh-interval="20" id="">
                            <span id="id_count_total_license"></span> / 21
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="info-box  hover-expand-effect">
                    <div class="icon bg-light-green">
                        <i class="material-icons">toc</i>
                    </div>
                    <div class="content">
                        <div class="text">TOTAL DISPLAY</div>
                        <div class="number count-to" data-from="0" data-to="0" data-speed="1000" data-fresh-interval="20" id="id_count_total">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">

                        <div class="row clearfix">
                            <div class="col-xs-12 col-sm-6">
                                <h2>Display Signage List</h2>
                            </div>
                            <div class="col-xs-12 col-sm-6 align-right">
                
                            </div>
                        </div>
                    </div>
                    <div class="body table-responsive responsive">
                        <table class="table table-hover" id="tbldata">
                            <thead>
                                <th>#</th>
                                <th>Serial</th>
                                <th>Room</th>
                                <th>Background</th>
                                <th>Color Occupied</th>
                                <th>Color Standby</th>
                                <th>Status</th>
                                <th><button 
                                    onclick="createData($(this))" 
                                    type="button" class="btn btn-primary waves-effect ">
                                    <i class="material-icons">add_circle</i> CREATE</button></th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@await Html.PartialAsync("Display/Components/_Modals")


@await Html.PartialAsync("Display/Components/_Aside")

@section Scripts
{
    <script>
        const ajax = {
            url : {
                get_room_displays : "@Model.GetRoomDisplays",
                get_room_room_displays : "@Model.GetRoomRoomDisplays",
                post_create_room_display : "@Model.PostCreate",
                post_update_room_display : "@Model.PostUpdate",
                post_delete_room_display : "@Model.PostDelete",
                post_change_status_room_display : "@Model.PostChangeStatusDisplay",
                get_buildings : "@Model.GetBuildings",
                get_building_floors : "@Model.GetBuildingFloors",
            }
        }
    </script>
    <script src="~/assets/theme/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/assets/theme/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/assets/theme/plugins/sweatalert2/sweetalert2.all.min.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/assets/theme/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Colorpicker Js -->
    <script src="~/assets/theme/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/assets/theme/plugins/sweatalert2/sweetalert2.all.min.js"></script>
    <script src="~/assets/external/popper.min.js"></script>
    <script src="~/assets/external/tippy-bundle.umd.min.js"></script>
    <!-- Input Mask Plugin Js -->
    <script src="~/assets/process/display/index.js" asp-append-version="true"></script>
}
