@using _4.Data.ViewModels;
@using System.Text.Json;
@inject Microsoft.Extensions.Configuration.IConfiguration Config
@{
    var AppUrl = Config["App:BaseUrl"];
    var ApiUrl = Config["ApiUrls:BaseUrl"];
    var ApiSmrUrl = Config["ApiUrls:BaseApi"];

    var token = Context.Request.Query["token"].ToString();
    if (string.IsNullOrEmpty(token))
    {
        Context.Response.Redirect("/webview/error/401");
    }
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Smart Meeting App - @ViewData["PageName"]</title>

    <link rel="stylesheet" href="~/assets/webview/modules/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/webview/modules/fontawesome/css/all.min.css" />
    <!-- CSS Libraries -->
    
    <link rel="stylesheet" type="text/css" href="~/assets/external/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/external/timepicker/1.14.1/jquery.timepicker.min.css" />
    <!-- Select2 CSS -->
    <link rel="stylesheet" href="~/assets/webview/css/select2.min.css" />
    <link rel="stylesheet" href="~/assets/webview/css/select2-bootstrap4.min.css" />

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/webview/css/style.css" />
    <link rel="stylesheet" href="~/assets/webview/css/components.css" />

    <style>
        .select2-results__option[aria-disabled="true"] {
            color: #d9534f;
            background-color: #f9d6d5;
            font-style: italic;
        }
    </style>

    <!-- style section -->
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>

    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg" style="background-color: #fff"></div>

            @await Html.PartialAsync("_NavbarWebview")
            @RenderBody()

            @Html.AntiForgeryToken()

            <footer></footer>
        </div>
    </div>
    
    @RenderSection("Modals", required: false)

    <script>
        const bsApp = "@AppUrl";
        const bsApi = "@ApiUrl";
        const bsApiSmr = "@ApiSmrUrl";
        const token = "@token";
    </script>

    <!-- General JS Scripts -->
    <script src="~/assets/webview/js/jquery.min.js"></script>
    <script src="~/assets/webview/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/webview/js/stisla.js"></script>
    <script src="~/assets/theme/plugins/momentjs/moment.js"></script>
    <script src="~/assets/external/daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/external/timepicker/1.14.1//jquery.timepicker.min.js"></script>

    <!-- JS Libraries -->
    <script src="~/assets/theme/plugins/sweatalert2/sweetalert2.all.js"></script>
    <!-- Select2 JS -->
    @* <script src="~/assets/webview/js/select2/select2.min.js"></script> *@
    <script src="~/assets/webview/js/select2/select2.min.js"></script>

    <script>
        $.ajaxSetup({
            headers: {
                'XSRF-TOKEN': $('input:hidden[name="__RequestVerificationToken"]').val(),
                'Authorization': "Bearer @token"
            }
        });
    </script>

    <script src="~/assets/webview/js/scripts.js" asp-append-version="true"></script>
    <script src="~/assets/webview/js/custom.js" asp-append-version="true"></script>
    
    <!-- scripts section  -->
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Template JS File -->

</body>

</html>